<html>

<head>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            namespace = '/kafka';
            var socket = io(namespace);

            socket.on('kafkaconsumer1', function (msg) {
                $('#consumer').html("")
            });
            socket.on('kafkaconsumer', function (msg) {
                $('#consumer').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on('kafkaproducer', function (msg) {
                $('#producer').append('<br>' + $('<div/>').text(msg.data).html());
            });

            socket.on('logs', function (msg) {
                console.log("Logs: " + msg.data)
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            });

            $('form#emit').submit(function (event) {
                console.log("Sent: " + $('#emit_data').val())
                socket.emit('kafkaproducer', $('#emit_data').val());
                return false;
            });
        });
    </script>
</head>

<body>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <h2>Logs</h2>
    <div id="log"></div>
    <h2>Producer</h2>
    <div id="producer"></div>
    <h2>Consumer</h2>
    <div id="consumer"></div>
</body>

</html>