.box-wrapper {
  flex: 1;
  overflow-y: scroll;
  right: 0;
  padding-right: 3rem;
  bottom: 0;
  top: 0;
  width: 25rem;
  height: 100%;
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column-reverse;
}

.submission {
  font-weight: bold;
}
