.box-wrapper {
  overflow-y: scroll;
  position: fixed;
  right: 0;
  padding-right: 3rem;
  margin-bottom: 3rem;
  bottom: 0;
  top: 0;
  width: 25rem;
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column-reverse;
}

.submission {
  font-weight: bold;
}
